<h1>Departamentos</h1>
<button routerLink="" class="Home">Home</button><br><br>
<table>
   <thead>
      <tr>
         <th scope="col">Id</th>
         <th scope="col">Departamento</th>
         <th scope="col">Sigla</th>
         <th scope="col">Ações</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let departamento of departamentos$ | async">
         <th>{{departamento.id}}</th>
         <td>{{departamento.nome}}</td>
         <td>{{departamento.sigla}}</td>
         <td><button (click)="deletarDepart(departamento.id)">Excluir</button> - <button routerLink="edit">Editar</button></td>
      </tr>                                                                                               
   </tbody>
</table>
<br>
<button routerLink="novo">Adicionar departamento</button> - 
<button (click)="obterDepartsCadastrados()">Atualizar</button> - 
<button routerLink="funcionarios">Listar Funcionários</button>
<!-- <button routerLink="funcionarios" (click)="obterFuncionarios(departamento.id)">Listar Funcionários</button> -->